<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div id="navbar-items">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ "/" | prepend: site.baseurl }}">HOME</a></li>
                    <li><a href="{{ "/tags.html" | prepend: site.baseurl }}">TAGS</a></li>
                    <li><a href="{{ "/about.html" | prepend: site.baseurl }}">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
    var _body   = document.body;
    var _toggle = document.querySelector('.navbar-toggle');
    var _navitems = document.querySelector('#navbar-items');
    var _collapse = document.querySelector('.navbar-collapse');
    var _navDisp = {
        hide: function() {
            _navitems.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if(_navitems.className.indexOf('in') < 0) {
                    _collapse.style.height = "0px";
                }
            },400);
        },

        show: function() {
            _collapse.style.height = "auto";
            _navitems.className += " in";
        }
    }

    // enable touch events on mobile devices
    if ('ontouchstart' in document) {
        _toggle.addEventListener('touchstart', toggleNav);
        _body.addEventListener('touchstart', hideNav);
    } else {
        _toggle.addEventListener('click', toggleNav);
        _body.addEventListener('click', hideNav);
    }

    function toggleNav(e) {
        if (_navitems.className.indexOf('in') > 0) {
            _navDisp.hide();
        }else {
            _navDisp.show();
        }
    }
    function hideNav(e) {
        if (e.target == _toggle) return;
        if (e.target == _navitems) return;
        _navDisp.hide();
    }
</script>
