---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ site.header-img }}')">
    <div class="header-thumb-container center-block">
        <img class="img-responsive" src="{{ site.baseurl }}/{{ site.header-thumb }}">
    </div>
    <h2 class="header-title">Hello, here is<br/>
    <strong> {{ site.title }} </strong><br/>
    <i>一个伪程序猿的自我拉扯</i>
    </h2>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {{ content }}
        </div>
    </div>
</div>