---
layout: default
---

<!-- Post Header -->
<header class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-lg-offset-2">
                <div class="tags">
                    {% for tag in page.tags %}
                    <a class="tag" href="{{ site.baseurl }}/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <h1>{{ page.title }}</h1>
                <div class="post-meta">
                    Posted on {{ page.date | date: "%B %-d, %Y" }}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-lg-offset-2 post-container">

                {{ content }}

                <hr>

            </div>

            <!-- Side Navbar -->
            <div class="col-md-2 col-lg-2 post-sidebar-container">
                <div class="post-sidebar">
                    <nav id="post-sidebar-nav" class="post-sidebar-nav hidden-print hidden-xs hidden-sm affix-bottom">
                    </nav>
                    <a href="#top" class="back-to-top"> 返回顶部 </a>
                </div>
            </div>
        </div>

        <!-- Pager -->
        <div class="row">
            <div class="col-md-10 col-lg-8 col-lg-offset-2">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">
                        Previous Post
                        <br />
                        <span>{{ page.previous.title }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">
                        Next Post
                        <br />
                        <span>{{ page.next.title }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>


