---
layout: default
---

<!-- Navigation -->
<style type="text/css">
    nav.navbar-custom, .navbar-toggle, .navber-brand {
        color: #000 !important;
    }
</style>

<!-- Post Header -->
<header class="post-header">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="tags">
                {% for tag in page.tags %}
                <a class="tag" href="{{ site.baseurl }}/tags.html/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <h1>{{ page.title }}</h1>
            <div class="post-meta">
                Posted on {{ page.date | date: "%B %-d, %Y" }}
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                {{ content }}
            
                <hr>

            </div>
        </div>
    </div>
</article>
